body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: left;
}

header {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

.highlight {
    color: #556b2f; /* Verde musgo */
}

.highlight2 {
    color: #ffb6c1; /* Rosa bebê */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.faixa {
    color: #556b2f; /* Verde musgo */
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.sinopse-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: #ffb6c1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foto {
    max-width: 40%; 
    height: auto;
    border-radius: 8px;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.sinopse-container p {
    flex: 1; /* O texto ocupa o restante do espaço */
}

.elenco-container, .trailer-container, .exibicoes-container {
    background-color: #ffb6c1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.elenco-container ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
    margin: 0;
}

.elenco-container ul li {
    margin: 10px 0;
}

.trailer-container {
    background-color: #ffb6c1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    margin-bottom: 20px;
}


.trailer-button {
    background-color: #556b2f; 
    color: #fff;
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    transition: background-color 0.3s ease;
}

.trailer-button:hover {
    background-color: #3d4a2a; 
}

footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #ccc;
}

footer p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .sinopse-container {
        flex-direction: column; 
        justify-content: center; /* Garante que o conteúdo fique centrado */
    }

    .foto {
        max-width: 100%; /* A imagem ocupa toda a largura em telas pequenas */
        margin-right: 0;
    }

    .trailer-container iframe {
        width: 100%;
        height: auto;
    }
}